@import '../../../styles/variables.scss';

.header {
  position: relative;
  padding: 15px 0;
  height: 70px;
  background: primaryColor('dark');
  text-align: center;
}

.title {
  font-weight: 700;
  color: white;
}
