@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.navbar {
  position: relative;
  padding: 15px 20px;
  height: 70px;
  background: primaryColor('dark');
  text-align: center;
  width: 100%;
  @include baseRow(space-between);

  &__title {
    @include baseText(20px, 700);
    color: white;
    text-decoration: none;

    @include mobileScreen {
      font-size: 17px;
      text-align: left;
    }

    &:hover {
      color: secondaryColor('light');
    }
  }
}
