@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.add_page {
  position: relative;
  @include baseColumn(flex-start);
  align-items: flex-start;

  &__title {
    @include baseText(24px);
    align-self: center;
  }

  &__card {
    position: relative;
    margin-top: 40px;
    width: 400px;
    min-height: 300px;
    border-radius: 5px;
    padding: 20px;
    border: 2px dashed primaryColor('dark');
    background: primaryColor('light');
    @include baseRow;
    justify-content: space-between;
    box-shadow: 5px 5px 9px 0px rgba(99, 69, 50, 0.4);

    @include mobileScreen {
      width: 90vw;
      flex-direction: column;
    }
  }
}
