@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.leaderboard_page {
  position: relative;
  @include baseColumn(flex-start);
  align-items: flex-start;

  &__title {
    @include baseText(24px);
    align-self: center;
  }

  &__content {
    position: relative;
    margin-top: 40px;
  }
}
