@import './styles/mixins.scss';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background: white;
}

#root {
  position: relative;
  width: 100%;
}

.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  @include baseColumn;
}

.content {
  position: relative;
  padding: 30px 20px 20px 20px;
  flex: 1;
  @include baseRow;
}
