@import '../../styles/mixins.scss';

.home_page {
  position: relative;
  @include baseColumn(flex-start);

  &__selector {
    position: relative;
    margin-top: 30px;
    // border: 1px solid red;
  }
}
